# **VARIABLES**

In [8]:
# Creating Variables

first_name = 'Asad'
last_name = 'Yousuf'
day = 6
month = 'August'
year = 1990

In [9]:
# printing variables
print('My name is ', first_name , last_name , "\nMy date of birth is ", day,'th', month , year)

My name is  Asad Yousuf
My date of birth is  6 th August 1990

In [10]:
# Python allows you to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [11]:
# Unpack a list
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## GLOBAL VARIABLE
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [12]:
#Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [13]:
#Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [14]:
#If we use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## LOCAL VARIABLE
If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [15]:
#Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# **DATA TYPES**
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	    str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	  dict
Set Types:	    set, frozenset
Boolean Type:	  bool
Binary Types:	  bytes, bytearray, memoryview
None Type:	    NoneType

## INTEGERS
There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

In [21]:
# Print the data type of the variables:

x = 5
print(type(x))

y = 'asad'
print(type(y))

z = 5.6
print(type(z))

d = 1+5j
print(type(d))

a = ["apple", "banana", "cherry"]
print(type(a))

b = {"name" : "John", "age" : 36}
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'dict'>

In [22]:
# Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [26]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x , y , z , w)

1.0 2.8 3.0 4.2

In [27]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x , y , z )

s1 2 3.0

In [23]:
#Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

7

## STRINGS
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [28]:
# STRINGS

# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

In [29]:
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [30]:
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

In [32]:
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [33]:
# print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [34]:
# SLICING
# You can return a range of characters by using the slice syntax.
# Specify the start index and the end index, separated by a colon, to return a part of the string.

# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

In [35]:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

In [36]:
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

In [37]:
# MODIFY STRINGS

# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [38]:
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [39]:
# The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip())

Hello, World!

In [40]:
# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [42]:
# String Concatenation
# To concatenate, or combine, two strings you can use the + operator.

# Merge variable a with variable b into variable c:

a = "Hello"
b = " World"
c = a + b
print(c)

Hello World

In [43]:
# String Format
# Use the format() method to insert numbers into strings:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [46]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

## BOOLEAN
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [45]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [47]:
# rint a message based on whether the condition is True or False:

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [48]:
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [49]:
# The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

#OPERATORS
Operators are used to perform operations on variables and values.

In [50]:
print(10 + 5)

15

In [51]:
# Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

print((6 + 3) - (6 + 3))

0

In [52]:
# Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:

print(100 + 5 * 3)

115

In [53]:
# Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right:

print(5 + 4 - 7 + 3)

5